{% extends "base.html" %}

{% block content %}

<div class="container mt-0 px-1" align="center">
  <div class="jumbotron">
    <h1 class="display-4">Alles zu #{{ hashtag }}</h1>
    <p class="lead">tbd</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

  <h4>Popularität von #{{ hashtag }}</h4>
            <canvas id="myChart2"></canvas>
          <!-- <script src="/static/chart.js"></script> -->
          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
          <script>
            var list1 = {{ datum | safe }};
            data = {
                datasets: [{
                    data: {{ werte|safe }},
                    backgroundColor: 'rgba(66, 245, 182, 0.5)',
                    borderColor: 'rgba(66, 245, 182, 1.0)',
                    borderWidth: 2,
                    hoverBackgroundColor: 'rgba(66, 129, 245, 0.5)',
                    label: 'Auftreten des Hashtags in Zusammenhang mit Google Trends',
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: list1
            };
            var ctx = document.getElementById('myChart2').getContext('2d');
            var myPieChart = new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                  elements: {
                    point: {
                      radius: 2
                    }
                  }
                }
            });
          </script>

    <div class="container mb-3">
      <div class="row">
        {% for i in list_of_trends %}
        <div class="col-md-4 mb-3">
          <div class="card shadow" style="width: 100%; height: 100%;">
            <div class="card-body">
              <h5 class="card-title">{{ i }}</h5>
              {% for hash in hashtags[i][:15] %}
                {% if hashtag in hash %}
                <a href="/hashtag/{{ hash }}"><span class="badge badge-pill badge-success">#{{ hash }}</span></a>
                {% else %}
              <a href="/hashtag/{{ hash }}"><span class="badge badge-pill badge-muted">#{{ hash }}</span></a>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>

{% endblock content %}